@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
body {
  font-family: "Roboto Condensed", sans-serif;
  .header {
    color: #fff;
    background-color: #41b3cd;
    .top-area {
      padding: 20px 0;
      background-color: rgba(0, 0, 0, 0.1);
      h1 {
        font-family: "Permanent Marker", cursive;
      }
      .contact-information {
        line-height: 1.2;
        div:first-of-type {
          font-size: 14px;
        }
        div:last-of-type {
          font-size: 22px;
          font-weight: 300;
        }
      }
    }
    .bottom-area {
      .person-box {
        padding: 4.5em 0;
        margin-top: 4.5em;
        margin-bottom: -2.25em;
        text-align: center;
      }
    }
  }
}
